*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input,
select
{
    padding: 7px 2px;
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
}
input
{
    width: 19%;
}
select
{
    width: 70px;
    
    
}
.main
{
    background-color: white;
    width: 75%;
    padding: 2%;
    border-radius:6px ;
}
.titre
{
    width: 100%;
    background: rgb(0, 166, 255);
    text-align: center;
    padding: 10px;
    border-radius:6px ;
    color: white;

}
.matiere
{
    margin-top: 20px;
}
.mat1
{
    margin-bottom: 15px;
}
.button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ajout{
    background-color: rgb(0, 166, 255) ;
    padding: 6px 2px;


}
.button button{
    width: 90px;
    height: 30px;
    margin-bottom: 10px;
    background: rgb(255, 0, 0);
    border: none;
    border-radius: 6px;
    padding: 3px 2px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}